- # (The MIT License)
- #
- # Copyright (c) 2017-2025 Yegor Bugayenko
- #
- # Permission is hereby granted, free of charge, to any person obtaining a copy
- # of this software and associated documentation files (the 'Software'), to deal
- # in the Software without restriction, including without limitation the rights
- # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
- # copies of the Software, and to permit persons to whom the Software is
- # furnished to do so, subject to the following conditions:
- #
- # The above copyright notice and this permission notice shall be included in all
- # copies or substantial portions of the Software.
- #
- # THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
- # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
- # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
- # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
- # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
- # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
- # SOFTWARE.

!!! 5
%html{amp: '', lang: 'en'}
  %head
    %title SixNines
    %link{rel: 'canonical', href: canonical }
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width,minimum-scale=1,initial-scale=1'}
    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    %script{type: 'application/ld+json'}
      :plain
        {
          "@context": "http://schema.org",
          "@type": "WebPage",
          "mainEntityOfPage":{
            "@type": "WebPage",
            "@id": "#{title}"
          },
          "headline": "#{title}",
          "image": {
            "@type": "ImageObject",
            "url": "http://www.sixnines.io/images/logo.png",
            "width": 512,
            "height": 512
          },
          "datePublished": "#{Time.now}",
          "dateModified": "#{Time.now}",
          "author": {
            "@type": "Person",
            "name": "Yegor Bugayenko"
          },
          "publisher": {
            "@type": "Organization",
            "name": "sixnines.io",
            "logo": {
              "@type": "ImageObject",
              "url": "http://www.sixnines.io/images/logo.png",
              "width": 512,
              "height": 512
            }
          },
          "description": "#{description}",
          "keywords": ["availability", "monitor"]
        }
    %style{'amp-boilerplate': ''}
      :plain
        body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    %noscript
      %style{'amp-boilerplate': ''}
        :plain
          body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    %style{'amp-custom': ''}
      :plain
        body { font-family: monospace; padding: 1em; }
    %script{async: '', src: 'https://cdn.ampproject.org/v0.js'}
  %body
    %header
      %p
        %a{href: '/'}
          %amp-img{src: url('images/logo.svg'), alt: 'logo', width: '64', height: '64'}
    %section
      =yield
    %footer
      %p
        = '--'
        %br
        %a{href: 'https://twitter.com/sxnns'} @sxnns
