%p.light
  %span.left= EpUri.new(e).favicon('big')
  %span.dark.big= EpUri.new(e).to_html
  = MetaInspector.new(EpUri.new(e).to_url).best_description
%ul
  %li
    = EpBadge.new(e).to_html
  %li
    Avail.
    %span.badge
      = EpAvailability.new(e).full
      = EpState.new(e).to_html
  %li
    ID
    %span.badge.bold= e.to_h[:id]
  %li
    Avg.
    %span.badge.bold= EpGraph.new(e).avg_full
%p
  =EpGraph.new(e).to_html
%ul.list-v
  %li
    Age
    %span.badge= TimeDifference.between(e.to_h[:created], Time.now).humanize
  %li
    Flipped
    %span.badge= human_date(e.to_h[:flipped])
    Next ping:
    %span.badge
      in
      = ago(Time.now, e.to_h[:expires])
  %li
    - if e.to_h[:log]
      %p
        %i.fa.fa-code.dark
        %a View last failed HTTP log
      %pre=html_escape(e.to_h[:log])
