-#%p.light.wide-only
-#  = EpUri.new(e).favicon('big')
-#  %span.big= EpUri.new(e).to_html
-#  -#= MetaInspector.new(EpUri.new(e).to_url).best_description
%p
  = EpUri.new(e).favicon('small')
  -#= EpUri.new(e).to_html
  = EpBadge.new(e).to_html
%p
  Avail.
  %strong= EpAvailability.new(e).full
  %strong= EpState.new(e).to_html
  ID
  %strong= e.to_h[:id]
  Avg.
  %strong= EpGraph.new(e).avg_full
  - if e.to_h[:log]
    %br
      %a{onclick: "$('#log').toggle();"} View last failed HTTP log
%p
  =EpGraph.new(e).to_html
%p
  -#Age
  -#%strong= TimeDifference.between(e.to_h[:created], Time.now).humanize
  -#%br
  -#Flipped
  -#%strong= human_date(e.to_h[:flipped])
  -#%br
  -#Next ping in
  -#%strong= ago(Time.now, e.to_h[:expires])
  - if e.to_h[:log]
    %pre#log{style: 'display: none;'}=html_escape(e.to_h[:log])
