-# SPDX-FileCopyrightText: Copyright (c) 2017-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%p
  = EpUri.new(e).favicon('small')
  = EpUri.new(e).to_html
  = EpBadge.new(e).to_html
- if defined?(user) && user[:login] == 'yegor256'
  %p
    %a{href: "/flush/#{e.to_h[:id]}", onclick: 'return confirm("Are you sure? The entire history will be destoyed!");'}
      Flush it
%p
  Avail.
  %strong= EpAvailability.new(e).full
  Avg.
  %strong= EpGraph.new(e).avg_full
%p
  - if e.to_h[:flipped]
    Flipped
    %strong
      =time_ago(e.to_h[:flipped]) + ' ago'
  Created
  %strong
    =time_ago(e.to_h[:created]) + ' ago'
%p
  = EpGraph.new(e).to_html
%p
  More in
  %a{href: "/d/#{e.to_h[:id]}"} JSON
- if e.to_h[:log]
  %p
    %a{onclick: "$('#log').toggle();"} View last failed HTTP log
  %pre#log{style: 'display: none;'}=html_escape(e.to_h[:log])
