%p
  = EpUri.new(e).favicon('small')
  = EpUri.new(e).to_html
  = EpBadge.new(e).to_html
%p
  Avail.
  %strong= EpAvailability.new(e).full
  Avg.
  %strong= EpGraph.new(e).avg_full
%p
  - if e.to_h[:flipped]
    Flipped
    %strong
      =ActionView::Base.new.distance_of_time_in_words(e.to_h[:flipped], Time.now) + ' ago'
  Created
  %strong
    =ActionView::Base.new.distance_of_time_in_words(e.to_h[:created], Time.now) + ' ago'
%p
  = EpGraph.new(e).to_html
%p
  More in
  %a{href: "/d/#{e.to_h[:id]}"} JSON
- if e.to_h[:log]
  %p
    %a{onclick: "$('#log').toggle();"} View last failed HTTP log
    %pre#log{style: 'display: none;'}=html_escape(e.to_h[:log])
